body {
    width: 75%;
    margin: auto;
    padding: 0px;
    box-sizing: content-box;
}

a:visited, a:link {
    text-decoration: none;
    color: black;
}

nav {
    float: right;
}

.nav-item{
    color: black;
}

#logo {
    height: 100px;
}

.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0;
 }

 #hr-border {
    border-bottom: 3px solid red;
}

