body {
    padding: 0px;
    width: 75%;
    margin: auto;
}

ul {
    list-style-type: none;
}

ul li {
    display: inline-block;
    padding: 20px;
}

#listNav {
    margin-top: 80px;
    margin-right: 30px;
}

a {
    text-decoration: none;
}

nav {
    float: right;
}

#logo {
    height: 100px;
}

hr {
    position: relative;
    top: 20px;
    border: none;
    height: 12px;
    background: black;
    margin-bottom: 50px;
}

.imgProjecten {
    height: 300px;
}

.centerProjecten {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    margin-right: 20px;
}

.col-sm {
    margin-top: 70px;
}