body {

    margin: auto;
    box-sizing: content-box;

}

h1, h2 {
  color: rgba(226,1,27,255);
}

.custom-toggler.navbar-toggler {
    border-color:rgba(226,1,27,255);
}
    
.custom-toggler .navbar-toggler-icon {
    background-image: url(
        "data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(226,1,27,255)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

nav .btn:hover,
nav .dropdown-item:hover {
    background-color: rgba(226,1,27,255) ;
    color: white;
}

.btn-primary {
    background-color: rgba(226,1,27,255) !important;
}

.slider {
    width: 100%;
    max-width: 800px;
    height:500px;
    position: relative;
    overflow: hidden;
    border-radius: 15px;
  }
  
  .slide {
    width: 100%;
    max-width: 800px;
    height: 500px;
    position: absolute;
    transition: all 0.5s;
  }
  
  .slide img {
    width: 100%;
    height: 100%;
    object-fit:cover;
  }
  
  .button {
    position: absolute;
    width: 40px;
    height: 40px;
    padding: 5px;
    border: none;
    border-radius: 50%;
    z-index: 10px;
    cursor: pointer;
    color: rgba(226,1,27,255);
    background-color: #fff;
    font-size: 18px;
  }
  
  .button:active {
    transform: scale(1.1);
  }
  
  .button-prev {
    top: 50%;
    left: 2%;
  }
  
  .button-next {
    top: 50%;
    right: 2%;
  }

  img.projecten {
    height: 100%;
    width: 80%;
    border-radius: 15px;
  }

  @media (max-width: 767px) {
    .small-screen{
      display: block;
    }

    .big-screen{
      display: none;
    }

    iframe {
      width: 350px;
    }
  } 

  @media (min-width: 768px) {
    .small-screen{
      display: none;
    }

    .big-screen{
      display: block;
    }
  } 